
@{
    ViewData["Title"] = "Contact Us";
}
<h2>Contact Us</h2>
<p>If you have any question or if you've suggestion, don't hegisate to contact with us. We'll happy to help you.</p>

<div>
    <span>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </span>
    <email address="example@example.com" content="Send Email"></email>
</div>
