@model IEnumerable<CakeNameIdDto>
@{
    ViewData["Title"] = "ManageCakes";
}
<h2>Manage Cakes</h2>
<br />
<div>
    <a asp-action="AddCake" class="btn buy-now-btn">Add New Cake</a>
</div>
<br />
<table class="table ">
    <thead>
        <tr>
            <th>Cake Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cake in Model)
        {
            <tr id="cake-@cake.Id">
                <td>@cake.Name</td>
                <td>
                    <a class="btn btn-link btn-no-effect" asp-action="EditCake" asp-route-id="@cake.Id">Edit </a>
                    |
                    <button class="btn btn-link btn-no-effect deleteBtn" data-id="@cake.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>

        $(".deleteBtn").click((e) => {
            const id = $(e.target).data("id");
            if (!confirm("Are you sure to delete?"))
                return;

            $.ajax({
                url: '/admin/manageCakes/' + id,
                type: 'DELETE',
                success: () => {
                    const target = $("#cake-" + id);
                    $(target).fadeOut(500, () => $(target).remove());
                },
                error: (e) => {
                    alert("Somthing Went Wrong", e);
                }
            });
        });

    </script>
}