
@{
    ViewData["Title"] = "CheckoutComplete";
}
<h2>Order Accepted</h2>

<p>Thanks for your order. We'll contact with you within 1-2 working days.</p>

<br />
<p>
    Would you like to order more?
    <a href="/">Click Here</a>
</p>
<p>Or,</p>
<p>
    Checkout your order details!
    <a href="/order/myOrder">Click Here</a>
</p>
