@model CakesListViewModel

<h1>@Model.CurrentCategory</h1>
@foreach (var cake in Model.Cakes)
{
    <div>
        <h2>@cake.Name</h2>
        <h3>@cake.Price.ToString("c")</h3>
        <h4>@cake.Category.Name</h4>
    </div>
}
