<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cake Shop</title>
    <environment names="Development">
        <script src="~/dist/main.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/dist/main.js" asp-append-version="true"></script>
    </environment>


</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                Cake Shop
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @*<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>*@
                    </li>
                </ul>

                <ul class="navbar-nav ">
                    <li>
                        <a class="nav-link" href="#">
                            Cart
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            @await Component.InvokeAsync("ShoppingCartSummary")
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="container">
            <p>Copyright (c) to XYZ Ptv. LTD 2018-2020</p>
        </div>
        @*<email address="example@example.com" content="Contact Us"></email>*@
    </footer>

    @RenderSection("scripts", false)

</body>

</html>
