<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Hi, @(User.Identity.Name ?? "User")!
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    @if (!User.Identity.IsAuthenticated)
    {
        <a asp-action="login" asp-controller="account" class="dropdown-item">Login</a>
        <a asp-action="register" asp-controller="account" class="dropdown-item">Register</a>
    }
    else
    {
        <a asp-action="myOrder" asp-controller="order" class="dropdown-item">My Order</a>
        <form method="post" asp-action="logout" asp-controller="account" class="no-padding-margin dropdown-item">
            <button class="btn dropdown-item btn-no-effect">logout</button>
        </form>

        if (User.IsInRole("Admin"))
        {

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="AllOrders" asp-controller="admin">Manage Orders</a>
            <a class="dropdown-item" asp-action="ManageCakes" asp-controller="admin">Manage Cakes</a>
        }
    }
</div>