

<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Catagory
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" asp-controller="/cakes" asp-action="Vanilla Cakes">Vanilla Cakes</a>
    <a class="dropdown-item" asp-controller="/cakes" asp-action="Chocolate Cakes">Chocolate Cakes</a>
    <a class="dropdown-item" asp-controller="/cakes" asp-action="Fruit Cakes">Fruit Cakes</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" asp-controller="/cakes" asp-action="">All Cakes</a>
</div>
